{% extends 'base.html.twig' %}
{% block title %}Création d'une sortie{% endblock %}

{% block body %}
    <div class="container-fluid w-95 mx-auto">

        <h1>Créer une sortie</h1>

        {{ form_start(sortieForm) }}

        <div class="row">
            <div class="col-sm">
                <div class="formGroup">
                    {{ form_row(sortieForm.nom) }}
                </div>
                <div class="formGroup">
                    {{ form_row(sortieForm.dateSortie) }}
                </div>
                <div class="formGroup">
                    {{ form_row(sortieForm.dateFinInscription) }}
                </div>
                <div class="formGroup">
                    {{ form_row(sortieForm.nombrePlace) }}
                </div>
                <div class="formGroup">
                    {{ form_row(sortieForm.duree) }} <span>minutes</span>
                </div>
                <div class="formGroup">
                    {{ form_row(sortieForm.description) }}
                </div>
            </div>
            <div class="col-sm">
                <div class="formGroup">
                    {{ form_row(sortieForm.campus) }}
                </div>
                <div class="formGroup">
                    {{ form_row(sortieForm.ville) }}
                </div>
                <div class="formGroup">
                    {{ form_row(sortieForm.lieu) }}
                </div>
                <div>
                    <p id="rueContainer">Rue : </p>
                </div>
                <div>
                    <p id="codePostalContainer">Code postal : </p>
                </div>
                <div>
                    <p id="latitudeContainer">Latitude :</p>
                </div>
                <div>
                    <p id="longitudeContainer">Longitude :</p>
                </div>
            </div>
            <div class="d-flex justify-content-around">
                {{ form_row(sortieForm.enregistrer) }}
                {{ form_row(sortieForm.publier) }}
                <button type="button" class="btn btn-outline-info"><a style="text-decoration: none" href={{ url('app_sortie') }}>Retour</a></button>
            </div>
        </div>
        {{ form_end(sortieForm) }}

    </div>
    <script defer>

            const lieuSelect = document.querySelector('#{{ sortieForm.lieu.vars.id }}');
            const rueContainer = document.getElementById('rueContainer');
            const latitudeContainer = document.getElementById('latitudeContainer');
            const longitudeContainer = document.getElementById('longitudeContainer');
            const codePostalContainer = document.getElementById('codePostalContainer');
            getLieu();

            lieuSelect.addEventListener('change', getLieu);

        async function getLieu() {
           // const lieuSelect= document.querySelector('#{{ sortieForm.lieu.vars.id }}');
            const lieuId = lieuSelect.value;

            if (lieuId) {
                try {
                    const response = await fetch(`/get-lieu?lieuId=${lieuId}`);
                    const data = await response.json();

                    if (data.error) {
                        rueContainer.innerHTML = `<p class="text-danger">${data.error}</p>`;
                    } else {
                        rueContainer.innerHTML = `<p>Rue : ${data.rue}</p>`;
                        latitudeContainer.innerHTML = `<p>Latitude : ${data.latitude}</p>`;
                        longitudeContainer.innerHTML = `<p>Longitude : ${data.longitude}</p>`;
                        codePostalContainer.innerHTML = `<p>Code postal : ${data.codePostal}</p>`;
                    }
                } catch (error) {
                    console.error('Erreur lors de la récupération du code postal:', error);
                    rueContainer.innerHTML = `<p class="text-danger">Erreur lors de la récupération du code postal.</p>`;
                }
            } else {
                rueContainer.innerHTML = '';
            }
        }
    </script>
{% endblock %}
