{% extends 'base.html.twig' %}
{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <div class="d-flex flex-column h-100">
        {# <form id="form_search" class=""> #}
        {{ form_start(formRecherche) }} 
            <div class="row align-items-start">
                <div class="col">
                    {{ form_row(formRecherche.campus) }} 

                    {{ form_row(formRecherche.recherche) }} 

                    {{ form_row(formRecherche.dateDebut) }} 
                    {{ form_row(formRecherche.dateFin) }} 
                </div>

                <div class="col">
                    {{ form_row(formRecherche.organisateur) }} 

                    {{ form_row(formRecherche.inscrit) }} 

                    {{ form_row(formRecherche.nonInscrit) }} 

                    {{ form_row(formRecherche.passee) }} 
                </div>
            </div>
        {{ form_end(formRecherche) }} 


        <div style="overflow-x: auto; overflow-y: auto; flex-grow: 1; min-height: 400px" class="my-3">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits/Places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="tbody_sorties">
                </tbody>
            </table>
        </div>
        <a class="btn btn-dark" href="{{ path('app_creation_sortie') }}">Créer une sortie</a>
    </div>

    <script defer>
        loadSorties()

        let formSearch = document.getElementsByName("sortie_filter")[0]
        formSearch.addEventListener('change', async event => {
            loadSorties()
        })
        formSearch.addEventListener('submit', async event => {
            event.preventDefault()
        })
        let textRecherche = document.getElementById("sortie_filter_recherche")
        textRecherche.addEventListener('keyup', async event => {
            loadSorties()
        })


            async function loadSorties() {
                let formSearch = document.getElementsByName("sortie_filter")[0]
                let data = new FormData(formSearch)

                let tbodySorties = document.getElementById("tbody_sorties")

                try {
                const res = await fetch(
                    '/getSorties',
                    {
                    method: 'POST',
                    body: data,
                    },
                );

                const resData = await res.json();
                tbodySorties.innerHTML = "" 
                console.log(await resData);
                for (let i in await resData) {
                    sortie = resData[i]
                    let tr = document.createElement("tr")

                    let td = document.createElement("td")
                    td.innerHTML = sortie.nom
                    tr.append(td)
                    td = document.createElement("td")
                    td.innerHTML = sortie.dateSortie
                    tr.append(td)
                    td = document.createElement("td")
                    td.innerHTML = sortie.dateFinInscription
                    tr.append(td)
                    td = document.createElement("td")
                    td.innerHTML = sortie.inscritsPlaces
                    tr.append(td)
                    td = document.createElement("td")
                    td.innerHTML = sortie.etat
                    tr.append(td)
                    td = document.createElement("td")
                    td.innerHTML = sortie.inscrit ? 'X':''
                    tr.append(td)
                    td = document.createElement("td")
                    let a = document.createElement("a")  
                        a.innerHTML = sortie.organisateur
                        a.className = 'link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'
                        a.href = "/profil/id/" + sortie.organisateurId
                        td.append(a)
                    tr.append(td)
                    td = document.createElement("td") 

                    for (let i in sortie.actions) {
                        a = document.createElement("a") 
                        a.innerHTML = sortie.actions[i].nom
                        a.href = sortie.actions[i].url
                        a.className = 'btn btn-dark btn-sm m-1'
                        td.append(a)
                    }
                    tr.append(td)
                    tbodySorties.append(tr)
                    console.log(tr)
                }

                } catch (err) {
                console.log(err.message);
                }
            }

    </script>

{% endblock %}
