{% extends 'base.html.twig' %}
{% block title %}Modification d'une sortie{% endblock %}
{% form_theme sortieForm 'bootstrap_5_layout.html.twig' %}
{% block body %}

    <h1 class="text-center fs-2 mb-5">Modification de la sortie {{ sortie.nom }}</h1>
    {{ form_start(sortieForm) }}
<div class="row ms-5">
    <div class="col-lg-6">

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">{{ form_label(sortieForm.nom) }}</label>
            <div class="col-md-auto">
                {{ form_widget(sortieForm.nom) }}
                {{ form_errors(sortieForm.nom) }}
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-4 col-form-label">{{ form_label(sortieForm.dateSortie) }}</label>
            <div class="col-md-auto">
                {{ form_widget(sortieForm.dateSortie) }}
                {{ form_errors(sortieForm.dateSortie) }}
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-4 col-form-label">{{ form_label(sortieForm.dateFinInscription) }}</label>
            <div class="col-md-auto">
                {{ form_widget(sortieForm.dateFinInscription) }}
                {{ form_errors(sortieForm.dateFinInscription) }}
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-4 col-form-label">{{ form_label(sortieForm.nombrePlace) }}</label>
            <div class="col-md-auto">
                {{ form_widget(sortieForm.nombrePlace) }}
                {{ form_errors(sortieForm.nombrePlace) }}
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-4 col-form-label">{{ form_label(sortieForm.duree) }}</label>
            <div class="col-md-auto">
                {{ form_widget(sortieForm.duree) }}
                {{ form_errors(sortieForm.duree) }}
            </div>
            <p class="col-md-auto">minutes</p>
        </div>
        <div class="row mb-3">
            <label class="col-md-4 col-form-label">{{ form_label(sortieForm.description) }}</label>
            <div class="col-md-auto">
                {{ form_widget(sortieForm.description) }}
                {{ form_errors(sortieForm.description) }}
            </div>
        </div>
    </div>

    <div class="col-lg-6">

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">{{ form_label(sortieForm.campus) }}</label>
            <div class="col-md-auto">
                {{ form_widget(sortieForm.campus) }}
                {{ form_errors(sortieForm.campus) }}
            </div>
        </div>

        <div class="row mb-3" id='villeForm'>
            <label class="col-md-4 col-form-label">{{ form_label(sortieForm.ville) }}</label>
            <div class="col-md-auto">
                {{ form_widget(sortieForm.ville) }}
                {{ form_errors(sortieForm.ville) }}
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">{{ form_label(sortieForm.lieu) }}</label>
            <div class="col-md-auto">
                {{ form_widget(sortieForm.lieu) }}
                {{ form_errors(sortieForm.lieu) }}
            </div>
        </div>

        <div>
            <p id="rueContainer">Rue : </p>
        </div>
        <div>
            <p id="codePostalContainer">Code postal : </p>
        </div>
        <div>
            <p id="latitudeContainer">Latitude :</p>
        </div>
        <div>
            <p id="longitudeContainer">Longitude :</p>
        </div>

    </div>
    <div class="d-flex justify-content-evenly mt-3">
        {{ form_widget(sortieForm.modifier) }}
        <a class="btn btn-dark" href={{ url('app_sortie') }}>Retour</a>
    </div>

    {{ form_end(sortieForm) }}
</div>
    <script defer>

        const lieuSelect = document.querySelector('#{{ sortieForm.lieu.vars.id }}');
        const rueContainer = document.getElementById('rueContainer');
        const latitudeContainer = document.getElementById('latitudeContainer');
        const longitudeContainer = document.getElementById('longitudeContainer');
        const codePostalContainer = document.getElementById('codePostalContainer');
        getLieu();

        lieuSelect.addEventListener('change', getLieu);

        async function getLieu() {
            const lieuId = lieuSelect.value;

            if (lieuId) {
                try {
                    const response = await fetch(`/get-lieu?lieuId=${lieuId}`);
                    const data = await response.json();

                    if (data.error) {
                        rueContainer.innerHTML = `<p class="text-danger">${data.error}</p>`;
                    } else {
                        rueContainer.innerHTML = `<p>Rue : ${data.rue}</p>`;
                        latitudeContainer.innerHTML = `<p>Latitude : ${data.latitude}</p>`;
                        longitudeContainer.innerHTML = `<p>Longitude : ${data.longitude}</p>`;
                        codePostalContainer.innerHTML = `<p>Code postal : ${data.codePostal}</p>`;
                    }
                } catch (error) {
                    console.error('Erreur lors de la récupération du code postal:', error);
                    rueContainer.innerHTML = `<p class="text-danger">Erreur lors de la récupération du code postal.</p>`;
                }
            } else {
                rueContainer.innerHTML = '';
            }
        }
    </script>
{% endblock %}
