<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        <title>Sortie.com</title>
    <!-- Vous pouvez aussi utiliser d'autres formats comme .png -->
    <link rel="icon" href="{{ asset('img/eni.png') }}" type="image/png">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="vh-10 d-flex flex-column" id="flash" style=' height: 10vh;position:fixed;width:100%;top: 0px;z-index:10;'>
            {% if app.request.get('_route') not in ['app_login', 'app_reset_password', 'app_generate_password_reset'] %}
                {% include 'generic/Navbar.html.twig' %}
            {% endif %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success position-absolute start-50 my-5 translate-middle">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger position-absolute start-50 my-5 translate-middle">
                    {{ message }}
                </div>
            {% endfor %}
            <div style="height: 10vh;width:100%;top:0px;"> </div>
            <div class="container-lg my-4" style=' height: 85vh;'>
                {% block body %}{% endblock %}
            </div>
            
        </div>
        
    </body>

    <script>
        const alerts = document.querySelectorAll('[class*="alert-"]')
        console.log(alerts)
        for (const alert of alerts) {
            setTimeout( function() {
                alert.remove();
            }, 5000);
        }
    </script>
</html>
